:root{
  --branco: #FFFF;
  --gelo: #f1f1f1;
  --cinza: #acabab;
  --preto: #2a2a2a;
  --azul:#106584;
  --azul_2:#033f57;

}


@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&display=swap');

body{
  
}

body {
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  /* Barra superior */
  .top-nave {
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--branco);
    color: var(--preto);
    height: 70px;
  
  }
  
  .top-nave a{
    font-size: 30px;
    color: var(--preto);
    margin-left: 2%;
  }
  
  .top-nave h2 {
    font-size: 24px;
    margin-left: 10%;
  }

  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  label {
    font-size: 15px;
    margin-bottom: 5px;
    display: block;
    color: #333;
  }
  input[type="text"],
  input[type="date"],
  input[type="radio"],
  input[type="submit"],
  input[type="button"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type="submit"],
  input[type="button"] {
    background-color: var(--azul);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 3%;
  }
  input[type="submit"]:hover,
  input[type="button"]:hover {
    background-color: var(--azul_2);
  }

  .destinatario{
    display: flex;
    flex-direction: column;
    
  }

  .destinatario label{
    font-size: 20px;
  }

  .destinatario input{
    margin-right: 50%;
    position: relative;
    top: 36px;
  }

  .aviso {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    display: none;
    border-radius: 4px;
  }
  #codigoColaboradorContainer {
    display: none;
    margin-top: 5%;
  }
  .voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    color: var(--azul);
  }
  .voltar:hover {
    color: var(--azul_2);
  }
  @media (max-width: 768px) {
    .container {
      padding: 15px;
      margin: 10px;
    }
    h2 {
      font-size: 24px;
    }
  }