:root{
    --branco: #FFFF;
    --gelo: #f1f1f1;
    --cinza: #acabab;
    --preto: #2a2a2a;
    --azul:#106584;
    --azul_2:#033f57;

}


@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&display=swap');



body {
    font-family: "Bebas Neue", sans-serif;
    background-image: url('img/OIP.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
  /* Barra superior */
  .top-nave {
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--branco);
    color: var(--preto);
    height: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .top-nave a{
    font-size: 25px;
    color: var(--preto);
    margin-left: 2%;
  }
  
  .top-nave h2 {
    font-size: 20px;
    margin-left: 18%;
  }

.corpo {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    gap: 10px;
}

h1 {
    margin: 0;
    color: #333;
}

.cabecalho button {
    width: 40px;
    height: 40px;
    background: var(--azul);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.cabecalho button:hover {
    background: #0b4458;
}

.dias {
    list-style: none;
    padding: 0;
}

.dia {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.data {
    flex: 0 0 100px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.descricao {
    flex: 1;
    font-size: 14px;
    color: #666;
    margin-right: 10px;
}

.botao-nova-pagina {
    background: var(--azul);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.botao-nova-pagina:hover {
    background: #0056b3;
}

@media (max-width: 600px) {
    .corpo {
        width: 90%;
        padding: 10px;
    }
    .cabecalho h1 {
        font-size: 18px;
    }
    .dia {
        flex-direction: column;
        align-items: flex-start;
    }
    .botao-nova-pagina {
        margin-top: 10px;
        width: 100%;
    }
}