        /* Estilos do formulário */
        :root {
            --branco: #FFFF;
            --gelo: #f1f1f1;
            --cinza: #acabab;
            --preto: #2a2a2a;
            --azul: #106584;
            --azul_2:#033f57;

        }

        @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&display=swap');


        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            height: 100vh;
            font-family: "Bebas Neue", sans-serif;
            background-color: #f0f4f8;
            color: #333;
            display:flex;
            align-items: center;
        }

        .top-nav{
            display: flex;
            gap: 15px;

        }

        .top-nav a{
            font-size: 30px;
            color: var(--preto);
            
        }

        .container {
            height: 100vh;
            width: 100%;
            max-width: 500px;
            margin: 50px auto;
            padding: 20px;
            background-color: var(--branco);
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            font-size:25px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin: 10px 0 5px;
        }

        input[type="text"],
        input[type="date"],
        input[type="email"],
        input[type="password"],
        input[type="file"] {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        input[type="submit"] {
            margin-top: 20px;
            padding: 10px;
            background-color: var(--azul);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: var(--azul2);
        }

        #mensagem {
            margin-top: 20px;
            text-align: center;
        }
        