:root{
    --branco: #FFFF;
    --gelo: #f1f1f1;
    --cinza: #acabab;
    --preto: #2a2a2a;
    --azul:#106584;
    --azul_2:#033f57;

}


@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&display=swap');

body{
    font-family: "Bebas Neue", sans-serif;
}

.toolbar{
    height: 80px;
}

.tab-link{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.toolbar-inner{
    background: var(--azul);
    border-top: 1px solid var(--gelo);
}

.toolbar-inner .link{    
    flex:1;
    height: 80px;  
    line-height: 25px; 
	font-weight:bold;
    color: var(--branco);    
}

.toolbar-inner .link:not(.active){
    color: var(--azul_2);
	font-weight:normal;
}

.toolbar-inner > .link i{
    font-size: 28px;
}

.top-nav{
    width: 100%;
    height: 80px;
    background: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.tittle-logo{
    font-weight: 600;
    margin: 5%;
}

.tittle-logo span {
    color: var(--azul);
}


.btn-notif{
    width: 40px;
    height: 40px;
    background: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    border-radius: 50px;
    border: 1px solid var(--gelo);
    font-size: 20px;
    color: var(--preto);

}

.btn-notif::before{
    content: attr(data-count);
    background: var(--azul);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: var(--branco);
    position: absolute;
    top: 8px;
    right: 0px;
    margin-right: 5%;
}

.btn-notif[data-count="0"]::before{
    display: none;
}

form{
    padding-top: 10px;
    background: var(--branco);
    padding-bottom: 20px;
    position: relative;
}



form input[type='text']{
    width: 90%;
    height: 45px;
    border-radius: 10px;
    margin: auto;
    padding: 10px 20px;
    background-color: var(--gelo);
}

.page-content_login input[type='text']{
    width: 80%;
    height: 45px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: var(--gelo);
}

.page-content_login input[type='password']{
    width: 80%;
    height: 45px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: var(--gelo);
}

.page-content_login input[type='submit']{
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    background: var(--azul);
    color: white;
    font-size: 15px;
    border-radius: 13px;
    transition: 0.3s;
}
.page-content_login input[type='submit']:hover{
    background: var(--preto);
    color: white;
    
}

.links{
    width: 70%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

::placeholder{
    color: #b3afaf;
}

.icone-busca{
    position: absolute;
    top: 0px;
    right: 5%;
    font-size: 27px;
    padding: 13px;
}

.page-content{
    background: var(--branco);
}

.page-content_config{
    width: 100%;
    height: 100%;
    background: var(--branco);
    
}

.page-content_login{
    width: 100%;
    height: 100%;
    background: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    
    
}

.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto-1{
    background:var(--cinza);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 170px;
    border-radius: 10px;
    
}
.foto-2{
    background:var(--cinza);
    height: 170px;
    border-radius: 10px;
}
.foto-3{
    background:var(--cinza);
    height: 170px;
    border-radius: 10px;
}
.foto-4{
    background:var(--cinza);
    height: 170px;
    border-radius: 10px;
}

.block{
    margin-left: 2%;
    margin-right: 2%;
}

.botoes{
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.botoes2{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;


}

.botoes button{
    width: 100px;
    height: 100px;
    border: none;
    outline: none;
    background: var(--azul);
    color: white;
    font-size: 10px;
    margin: 30px;
    border-radius: 5px;
    transition: 0.3s;
    
    
    

}

.botoes button:hover{
    background: var(--preto);
    color: var(--cinza);
    

}

.botoes2 button{
    width: 100px;
    height: 100px;
    border: none;
    outline: none;
    background: var(--azul);
    color: white;
    font-size: 10px;
    margin: 30px;
    border-radius: 5px;
    transition: 0.3s;
    
    

}

.botoes2 button:hover{
    background: var(--preto);
    color: var(--cinza);
    

}

.icon{
    font-size: 60px;
}

/*Chats Abertos*/
/* Estilo da foto de perfil */
.icone-user {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Torna a imagem arredondada */
    overflow: hidden;   /* Garante que a imagem fique dentro do círculo */
    margin-right: 10px; /* Espaçamento entre a foto e o nome */
    display: inline-block;
}

.user-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz com que a imagem ocupe todo o espaço da div sem distorcer */
}

/* Estilos adicionais para o item do chat */
.user1 {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Adiciona uma linha de separação entre os chats */
    text-decoration: none;
    color: inherit;
    margin-bottom: 10px;
}

.user1:hover {
    background-color: #f0f0f0; /* Muda a cor de fundo ao passar o mouse */
}

.nome {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

/* Personalize a aparência do campo de busca */
.form1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

#buscarInput {
    width: 85%;
    border: none;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    box-sizing: border-box;
}

.icone-busca {
    font-size: 20px;
    color: #2196f3;
    cursor: pointer;
}

.icone-busca:hover {
    color: #1976d2;
}


.body-chat{
    max-width: 100%;
    height: 100%;
}

.user1{
    width: 100%;
    height: 80px;
    background: var(--gelo);
    display: flex;
    align-items: center;
    border: 50px;
    
}

.body-chat button:hover{
    background: var(--azul);
}

.icone-user{
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background: var(--gelo);
    color: var(--azul);
    font-size: 10px;
    margin: 10px;
    border-radius: 130px;
    transition: 0.3s;
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--cinza);
}

.user-icon{
    font-size: 30px;

}

.nome{
    margin-left: 2%;
    color: var(--preto);
}

/*Perfil Usuário*/

.a-editar{
    margin-right: 5%;
}

.btn-editar{
    width: 40px;
    height: 40px;
    background: var(--azul);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid var(--gelo);
    font-size: 20px;
    color: var(--branco);

}



.foto{
    
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.foto_perfil{
    width: 170px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.imagem_perfil{
    width: 100px;
    height: 100px;
    background:url("/www/img/user.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50px;

}
.dados{
    width: 220px;
    height: 150px;
    background: #acabab;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-right: 13px;
}

.dados h2{
    margin-left: 10px;
    font-size: 16px;
}
.dados h7{
    margin-left: 10px;
}

.informacao{
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column;
    

}

.informacao h4{
    font-size: 18px;
    color:var(--preto);
    margin: 13px;

}


.pessoal{
    width: 100%;
    height: 200px;
    background: #b3afaf;
    border-radius: 10px;
    
}

.apresentacao{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



/*Opções Adm*/


.opc{
    width: 100%;
    height: 80px;
    background: var(--gelo);
    display: flex;
    align-items: center;
    border: 50px;
    gap:10px;
    
}

.body-opc button:hover{
    background: var(--cinza);
}
/*Botão de Volta*/

.btn-volta{
    width: 40px;
    height: 40px;
    background: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    border-radius: 50px;
    border: 1px solid var(--gelo);
    font-size: 20px;
    color: var(--preto);

}


/*Lista de Usuário*/



.botoes_lu{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}


.botoes_lu button{
    font-size: 20px;
}

.btn-volta{
    width: 40px;
    height: 40px;
    background: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    border-radius: 50px;
    border: 1px solid var(--gelo);
    font-size: 20px;
    color: var(--preto);

}

.btn_lu{
    width: 80%;
    height: 40px;
    background: #2a2a2a;
    color: #f1f1f1;
    font-weight: bold;
    border: none;
    margin: 15px 5;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;

}

.btn_lua{
    width: 80%;
    height: 40px;
    background: var(--azul);
    color: #f1f1f1;
    font-weight: bold;
    border: none;
    margin: 15px 5;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;

}


#bt{
    
    height: px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #f1f1f1;
    
    
}

/*Chat*/




.nome_chat{
    font-size: 20px;
    color: var(--branco);
    
}

/*Opções*/

.opc{
    width: 100%;
    height: 80px;
    background: var(--gelo);
    display: flex;
    align-items: center;
    border: 50px;
    gap:10px;
    
}

.body-opc button:hover{
    background: var(--cinza);

}

/*Top Nav*/

.top-nav-geral{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    
    
}

/*Top Nav Nome*/
.top-name-agenda{
    color: var(--preto);
    margin-left: 60px;
    font-size: 25px;
}



/*Botão de Volta*/

.btn-volta{
    width: 40px;
    height: 40px;
    background: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid var(--gelo);
    font-size: 20px;
    color: var(--preto);

}


/*Lista de Usuário*/

.top-nav-user{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    
}

.top-name-user{
    color: var(--preto);
    margin-left: 60px;
    font-size: 25px;
}

.botoes_lu{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.botoes_lu button{
    font-size: 20px;
}

.btn_lu{
    width: 80%;
    height: 40px;
    background: #2a2a2a;
    color: #f1f1f1;
    font-weight: bold;
    border: none;
    margin: 15px 5;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;

}

.btn_lua{
    width: 80%;
    height: 40px;
    background: var(--azul);
    color: #f1f1f1;
    font-weight: bold;
    border: none;
    margin: 15px 5;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;

}


#bt{
    
    height: px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #f1f1f1;
    
    
}

/*Chat*/

.top-nav__chat{
    width: 100%;
    height: 80px;
    background: var(--azul);
    display: flex;
    align-items: center;
    
    
}

.btn-volta-chat{
    width: 40px;
    height: 40px;
    background: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    border-radius: 50px;
    border: 1px solid var(--preto);
    font-size: 20px;
    color: var(--preto);
    margin-left: 20px;

}

.nome_chat{
    font-size: 20px;
    color: var(--branco);
    
}

.foto_chat{
    width: 50px;
    height: 50px;
    background: var(--preto);
    border-radius: 50px;
    border: none;
    font-size: 20px;
    margin-right: 15px;
    background:url("/www/img/user.jpg");
    background-size: cover;
    background-position: center;

}

.container__chat {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--branco);
}

.chat {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.chat__messages {
    flex-grow: 1;
    padding: 30px 30px 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat__form {
    background-color: var(--azul);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.chat__input {
    border: none;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    outline: none;
    font-size: 1rem;
}

.chat__button {
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background: var(--preto);
    color: #f2f2f2;
    cursor: pointer;
    margin-right: 40px;
}

.icone{
    font-size: 15px;
}

.chat__messages > div {
    padding: 10px;
    width: 100%;
    max-width: 250px;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 22px;
}

.message--self {
    background-color: #f2f2f2;
    color: #121212;
    border-radius: 10px 10px 0 10px;
    align-self: flex-end;
}

.message--other {
    background-color: #333;
    color: #f2f2f2;
    border-radius: 0 10px 10px 10px;
    align-self: flex-start;
}

.message--sender {
    
    margin-bottom: 15px;
    font-weight: 700;
    color: cadetblue;
}


/* Responsive Adjustments for Mobile */
@media (max-width: 768px) {
    .Agenda .month {
        width: 95%;
        padding: 15px;
    }

    .icons i {
        font-size: 20px;
    }

    .Agenda .month .icons span {
        font-size: 18px;
    }

    .calendar td,
    .calendar th {
        padding: 8px;
    }
}


.top-nave {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--branco);
    width: 100%;
    height: 80px;
}

/* Estilo para o ícone de seta */
.tittle-logo i {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
    cursor: pointer; /* Mudar cursor para ponteiro (indicando clicável) */
    position: relative;
    right: 18%;
}

.tittle-logo a {
    color: black;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    overflow-y: auto;
}

.info .agente,
.info .horario_inicio,
.info .horario_final,
.info .local {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    padding: 15px;
    overflow-y: auto;
}

.info h3 {
    font-size: 16px;
    color: #333;
    margin: 0;
    min-width: 120px;
}

.info input[type="text"] {
    flex: 1;
    max-width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.info input[type="text"]:focus {
    border-color: var(--azul-destaque);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.sd {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    left: 10px;
}

.porCD {
    width: 100%;
}

.porCD .cadastro,
.porCD .departamento {
    display: flex;
    position: relative;
    left: 15px;
}

.tx {
    position: relative;
    display: flex;
    align-items: center;
    width: 99%;
    right: 1px;
    margin: 10px 0;
}

.tx input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.tx input[type="text"]:focus {
    border-color: var(--azul-destaque);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.info a{
    width: 100px;
} 

.info button {
    position: relative;
    left: 145%;
    background-color: var(--azul);
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.info button h3 {
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
}

.info button:hover {
    background-color: var(--preto);
    color: white;
}

@media (max-width: 768px) {
    .top-nave {
        flex-direction: column;
    }
    .info button {
        width: 80%;
    }
}

