:root{
    --branco: #FFFF;
    --gelo: #f1f1f1;
    --cinza: #acabab;
    --roxo: #c510ad;
    --preto: #2a2a2a;

}


@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&display=swap');

body{
    font-family: "Bebas Neue", sans-serif;
}

.toolbar{
    height: 80px;
}

.tab-link{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.toolbar-inner{
    background: var(--branco);
    border-top: 1px solid var(--gelo);
}

.toolbar-inner .link{    
    flex:1;
    height: 80px;  
    line-height: 25px; 
	font-weight:bold;
    color: var(--roxo);    
}

.toolbar-inner .link:not(.active){
    color: var(--preto);
	font-weight:normal;
}

.toolbar-inner > .link i{
    font-size: 28px;
}

.top-nav{
    width: 100%;
    height: 80px;
    background: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tittle-logo{
    font-weight: 600;
    margin: 5%;
}

.tittle-logo span {
    color: var(--roxo);
}

form{
    padding-top: 10px;
    background: var(--branco);
    padding-bottom: 20px;
    position: relative;
}



form input[type='text']{
    width: 90%;
    height: 45px;
    border-radius: 10px;
    margin: auto;
    padding: 10px 20px;
    background-color: var(--gelo);
}

.page-content_login input[type='text']{
    width: 80%;
    height: 45px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: var(--gelo);
}

.page-content_login input[type='password']{
    width: 80%;
    height: 45px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: var(--gelo);
}

.page-content_login input[type='submit']{
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    background: var(--roxo);
    color: white;
    font-size: 15px;
    border-radius: 13px;
    transition: 0.3s;
}
.page-content_login input[type='submit']:hover{
    background: var(--preto);
    color: white;
    
}

::placeholder{
    color: #b3afaf;
}

.icone-busca{
    position: absolute;
    top: 0px;
    right: 5%;
    font-size: 27px;
    padding: 13px;
}

.page-content{
    background: var(--branco);
}

.page-content_config{
    width: 100%;
    height: 100%;
    background: var(--branco);
    
}

.page-content_login{
    width: 100%;
    height: 100%;
    background: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    
    
}

.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto-1{
    background:#e72ecf;
    max-width: 100%;
    height: 170px;
    border-radius: 10px;
    
}
.foto-2{
    background:#31012b;
    height: 170px;
    border-radius: 10px;
}
.foto-3{
    background:#e72ecf;
    height: 170px;
    border-radius: 10px;
}
.foto-4{
    background:#fa70e7;
    height: 170px;
    border-radius: 10px;
}

.block{
    margin-left: 2%;
    margin-right: 2%;
}

.botoes{
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.botoes2{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;


}

.botoes button{
    width: 100px;
    height: 100px;
    border: none;
    outline: none;
    background: var(--cinza);
    color: white;
    font-size: 10px;
    margin: 30px;
    border-radius: 13px;
    transition: 0.3s;
    
    
    

}

.botoes button:hover{
    background: var(--preto);
    color: var(--cinza);
    

}

.botoes2 button{
    width: 100px;
    height: 100px;
    border: none;
    outline: none;
    background: var(--cinza);
    color: white;
    font-size: 10px;
    margin: 30px;
    border-radius: 13px;
    transition: 0.3s;
    
    

}

.botoes2 button:hover{
    background: var(--preto);
    color: var(--cinza);
    

}

.icon{
    font-size: 60px;
}

.body-chat{
    max-width: 100%;
    height: 100%;
}

.user1{
    width: 100%;
    height: 80px;
    background: var(--gelo);
    display: flex;
    align-items: center;
    border: 50px;
    
}

.body-chat button:hover{
    background: var(--roxo);
}

.icone-user{
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background: var(--gelo);
    color: var(--roxo);
    font-size: 10px;
    margin: 10px;
    border-radius: 130px;
    transition: 0.3s;
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--cinza);
}

.user-icon{
    font-size: 30px;

}

.nome{
    margin-left: 2%;
    color: var(--preto);
}

.foto{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.foto_perfil{
    width: 170px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.imagem_perfil{
    width: 100px;
    height: 100px;
    background: var(--cinza);
    border-radius: 50px;

}
.dados{
    width: 220px;
    height: 150px;
    background: #acabab;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-right: 13px;
}

.dados h2{
    margin-left: 10px;
    font-size: 16px;
}
.dados h7{
    margin-left: 10px;
}

.informacao{
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column;
    

}

.informacao h4{
    font-size: 18px;
    color:var(--preto);
    margin: 13px;

}


.pessoal{
    width: 100%;
    height: 200px;
    background: #b3afaf;
    border-radius: 10px;
    
}

.apresentacao{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.apresentacao button{
    width: 70px;
    height: 70px;
    border: none;
    outline: none;
    background: var(--roxo);
    color: white;
    font-size: 17px;
    border-radius: 10px;
    transition: 0.3s;
}

.apresentacao button:hover{
    background: var(--preto);
    color: var(--roxo);
}

