   /* Lista de Usuário */
   .botoes_lu{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.botoes_lu button{
    font-size: 20px;
}

.btn-volta{
    width: 40px;
    height: 40px;
    background: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    border-radius: 50px;
    border: 1px solid var(--gelo);
    font-size: 20px;
    color: var(--preto);
}

.btn_lu{
    width: 80%;
    height: 40px;
    background: #2a2a2a;
    color: #f1f1f1;
    font-weight: bold;
    border: none;
    margin: 15px 5;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.btn_lua{
    width: 80%;
    height: 40px;
    background: var(--azul);
    color: #f1f1f1;
    font-weight: bold;
    border: none;
    margin: 15px 5;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;
}

#bt{
    height: px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #f1f1f1;
}

:root{
    --branco: #FFFF;
    --gelo: #f1f1f1;
    --cinza: #acabab;
    --preto: #2a2a2a;
    --azul: #106584;
    --azul_2: #033f57;
}